services:
  db:
    image: postgres:${POSTGRES_VERSION}-alpine
    restart: always
    ports:
      - "${POSTGRES_HOST_DB_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  test-db:
    image: postgres:${POSTGRES_VERSION}-alpine
    restart: always
    ports:
      - "${POSTGRES_HOST_TEST_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  mail-dev:
    image: maildev/maildev:latest
    restart: always
    ports:
      - "${MAIL_SMTP_PORT}:1025"
      - "${MAIL_WEB_PORT}:1080"
    
volumes:
  postgres-data:
